@font-face {
  font-family: 'iconfont';  /* Project id 2031360 */
  src: url('https://at.alicdn.com/t/font_2031360_9g6u91xq69u.woff2?t=1628574731192') format('woff2'),
       url('https://at.alicdn.com/t/font_2031360_9g6u91xq69u.woff?t=1628574731192') format('woff'),
       url('https://at.alicdn.com/t/font_2031360_9g6u91xq69u.ttf?t=1628574731192') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-jiantou:before {
  content: "\e65a";
}

.icon-qudao:before {
  content: "\e618";
}

.icon-tuichu1:before {
  content: "\e61d";
}

.icon-tuichu2:before {
  content: "\e676";
}

.icon-power:before {
  content: "\e60d";
}

.icon-sangedian:before {
  content: "\e60e";
}

.icon-fanhui1:before {
  content: "\e604";
}

.icon-iconjia:before {
  content: "\e69f";
}

.icon-sousuo:before {
  content: "\e602";
}

.icon-cuohao1:before {
  content: "\e6fc";
}

.icon-cuohao:before {
  content: "\e640";
}

.icon-xiangqing:before {
  content: "\e629";
}

.icon-leftArrows:before {
  content: "\e600";
}

.icon-jiahao:before {
  content: "\e601";
}

